/* Adap index.html */

@media screen and (max-width: 920px){
    .menu{
        display: block;
    }

    .nav-list{
        position: absolute;
        right: 0;
        top: 10vh;
        gap: 30px;
        height: 270px;
        width: 0;
        background-color: rgba(8, 8, 8, .8);
        text-align: center;
        flex-direction: column;
        margin: 0 auto;
        transition: .3s all ease-in-out;
        overflow: hidden;
    }

    .div-cadastro{
        position: absolute;
        right: 0;
        top: calc(10vh + 270px);
        gap: 0;
        height: 10vh;
        width: 0;
        background-color: rgba(8, 8, 8, .8);
        text-align: center;
        flex-direction: column;
        margin: 0 auto;
        transition: .3s all ease-in-out;
        overflow: hidden;
        z-index: 5;
    }

    .div-cadastro.active{
        width: 100%;
        z-index: 4;
    }

    .nav-list.active{
        top: 10vh;
        width: 100%;
        z-index: 4;
    }

    .sec-navbar.active{
        background-color: rgba(8, 8, 8, .8);
    }
}

@media screen and (max-width: 870px){
    .grid-sobre{
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }

    .tx-sobre{
        margin: 0 auto 50px;
    }

    .sec1, .sec2, .sec3{
        width: 70%;
        margin: 0 auto 32px;
    }
}

@media screen and (max-width: 600px){
    .banner1{
        display: none;
    }

    .banner2{
        display: block;
    }
}

@media screen and (max-width: 580px){
    .tx-titulo{
        font-size: 3rem;
    }
}

@media screen and (max-width: 375px){
    .tx-titulo{
        font-size: 2rem;
    }

    .btn-saiba, .btn-cadastro2{
        padding: 0.5rem 1rem;
        font-size: 13px;
    }

    .sec-patro h1{
        font-size: 28px;
    }
}

@media screen and (max-width: 330px){
    .tx-sobre h1{
        font-size: 32px;
    }

    .tx-sobre p{
        font-size: 14px;
    }

    .sec-titulo{
        font-size: 26px;
    }

    .sec-tx{
        font-size: 14px;
    }
}

@media screen and (max-width: 300px){
    .banner2{
        display: none;
    }

    .sec-sobre{
        padding: 6rem 5% 0;
    }
}

@media screen and (max-width: 225px){
    .sec-patro h1{
        font-size: 24px;
    }
}

@media screen and (max-width: 200px){
    .sec-patro h1{
        font-size: 20px;
    }
}

/* @media screen and (max-width: 270px){} */

/* Adap form.html */

@media screen and (max-width: 340px){
    form{
        width: clamp(150px, 60%, 350px);
    }

    .text-form h1{
        font-size: 24px;
    }
}

@media screen and (max-width: 225px){
    form{
        width: 60%;
    }

    .text-form h1{
        font-size: 20px;
    }

    .text-form p{
        font-size: 14px;
    }
}

@media screen and (max-width: 198px){
    form{
        margin-top: 60px;
    }
}

@media screen and (max-width: 175px){
    form{
        width: 50%;
    }

    .btn-submit strong{
        font-size: 6px;
        text-align: center;
    }
}