/* Adap index.html */

@media screen and (max-width: 920px){
    .menu{
        display: block;
    }

    .nav-list{
        position: absolute;
        right: 0;
        top: calc(10vh + 60px);
        gap: 30px;
        height: 270px;
        width: 0;
        background-color: rgba(8, 8, 8, .8);
        text-align: center;
        flex-direction: column;
        margin: 0 auto;
        transition: .3s all ease-in-out;
        z-index: 4;
        overflow: hidden;
    }

    .header-index.fixado .sec-navbar nav .nav-list{
        background-color: rgba(0, 0, 0, 1);
    }

    .div-cadastro{
        position: absolute;
        right: 0;
        top: calc(10vh + 270px + 60px);
        gap: 0;
        height: 10vh;
        width: 0;
        background-color: rgba(8, 8, 8, .8);
        text-align: center;
        flex-direction: column;
        margin: 0 auto;
        transition: .3s all ease-in-out;
        overflow: hidden;
        z-index: 5;
    }

    .header-index.fixado .sec-navbar .div-cadastro{
        background-color: rgba(0, 0, 0, 1);
    }

    .div-cadastro.active{
        width: 100%;
        z-index: 4;
    }

    .header-index.fixado .sec-navbar .div-cadastro{
        top: calc(10vh + 270px);
    }

    .nav-list.active{
        top: calc(10vh + 60px);
        width: 100%;
        z-index: 4;
    }

    .header-index.fixado .sec-navbar nav .nav-list{
        top: 10vh;
    }

    .sec-navbar.active{
        background-color: rgba(8, 8, 8, .8);
    }
}

@media screen and (max-width: 870px){
    .grid-sobre{
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }

    .tx-sobre{
        margin: 0 auto 50px;
    }

    .sec1, .sec2, .sec3{
        width: 70%;
        margin: 0 auto 32px;
    }
}

@media screen and (max-width: 600px){
    .banner1{
        display: none;
    }

    .banner2{
        display: block;
    }
}

@media screen and (max-width: 580px){
    .tx-titulo{
        font-size: 3rem;
    }
}

@media screen and (max-width: 375px){
    .tx-titulo{
        font-size: 2rem;
    }

    .btn-saiba, .btn-cadastro2{
        padding: 0.5rem 1rem;
        font-size: 13px;
    }

    .sec-patro h1{
        font-size: 28px;
    }
}

@media screen and (max-width: 330px){
    .tx-sobre h1{
        font-size: 32px;
    }

    .tx-sobre p{
        font-size: 14px;
    }

    .sec-titulo{
        font-size: 26px;
    }

    .sec-tx{
        font-size: 14px;
    }

    

    .img-produto img{
        width: 95%;
    }
}

@media screen and (max-width: 300px){
    .banner2{
        display: none;
    }

    .sec-sobre{
        padding: 6rem 5% 0;
    }
}

@media screen and (max-width: 225px){
    .sec-patro h1{
        font-size: 24px;
    }
}

@media screen and (max-width: 200px){
    .sec-patro h1{
        font-size: 20px;
    }
}

/* @media screen and (max-width: 270px){} */

/* Adap form.html */

@media screen and (max-width: 340px){
    form{
        width: clamp(150px, 60%, 350px) !important;
    }

    .text-form h1{
        font-size: 24px;
    }
}

@media screen and (max-width: 225px){
    form{
        width: 60% !important;
    }

    .text-form h1{
        font-size: 20px;
    }

    .text-form p{
        font-size: 14px;
    }
}

@media screen and (max-width: 198px){
    form{
        margin-top: 60px !important;
        margin-bottom: 12vh;
    }
}

@media screen and (max-width: 175px){
    form{
        width: 50% !important;
    }

    .btn-submit strong{
        font-size: 6px;
        text-align: center;
    }
}

/* LOJA */

@media screen and (max-width: 1819px){
    .sec-produtos{
        height: auto;
    }

    .grid-produtos{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .info-produto{
        width: 85%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .info-produto h1{
        font-size: 28px;
        margin-bottom: 12px;
    }

    .info-produto p{
        font-size: 13px;
    }

    .info-produto span{
        font-size: 30px;
    }

    .card-produto{
        flex-direction: row;
        width: 100%;
        height: 350px;
        margin-bottom: 25px;
    }

    .div-produto{
        justify-content: space-evenly;
        height: 100%;
    }

    .img-produto{
        height: 100%;
        min-width: 50%;
        width: 50%;
        display: flex;
        align-items: center;
    }

    .btn-produto{
        width: 80%;
        border-radius: 8px;
    }
}

@media screen and (max-width: 1242px){
    .grid-produtos{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 605px){
    .card-produto{
        flex-direction: column;
        height: auto;
        margin-bottom: 60px;
    }

    .img-produto{
        min-width: 300px;
        width: 50%;
    }

    .sec-produtos{
        padding: 0 15%;
    }
}

@media screen and (max-width: 370px){
    .sec-produtos{
        padding: 0 10%;
    }
}

@media screen and (max-width: 330px){
    .img-produto{
        min-width: 100%;
    }
}