{% extends'layout.html' %}
{% block content %}
<body>
    <div class="radial animate_animated animatefadeIn animatedelay-1s animate_faster">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        {% include 'navbar4.html' %}
        <section class="sec-carrinho">
            <div class="carrinho-content1 animarUp">
                <div class="texts-carrinho">
                    <h1>Produtos</h1>
                    <button type="button" onclick="localStorage.clear(); location.reload();" class="btn-limpar">
                        <svg width="10" height="10" viewBox="0 0 24 32" fill="none" xmlns="https://www.w3.org/2000/svg" class="icon-limpar">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6154 4H22.1538C23.2615 4 24 4.8 24 6V8H0V6C0 4.8 0.923077 4 1.84615 4H7.38462C7.75385 1.8 9.78461 0 12 0C14.2154 0 16.2462 1.8 16.6154 4ZM9.23077 4H14.7692C14.4 2.8 13.1077 2 12 2C10.8923 2 9.6 2.8 9.23077 4ZM1.84615 10H22.1538L20.4923 30.2C20.4923 31.2 19.5692 32 18.6462 32H5.35385C4.43077 32 3.69231 31.2 3.50769 30.2L1.84615 10Z" fill="#D50D0Dff"></path>
                        </svg>
                        <p>Limpar carrinho</p>
                    </button>
                </div>
                <ul class="produtos" id="cart-list"></ul>
            </div>
            <div class="carrinho-content2 animarUp">
                <h1>Resumo</h1>
                <div class="div-preco">
                    <p class="valorT">Valor total à prazo: <span id="total-price"></span></p>
                    <p class="valor10">(Em até 10x de <span id="total-price10"></span> sem juros)</p>
                </div>  
                <div class="div-precoPix">
                    <p>Valor à vista no pix: <br><span id="total-priceAV"></span></p>
                </div>
                <button class="btn-comprar">EFETUAR PAGAMENTO</button>
                <a href="/loja"><button class="btn-voltarLoja">CONTINUAR COMPRANDO</button></a>
            </div>
        </section>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            displayCart();
        });

        function displayCart() {
            // Obter carrinho do localStorage
            let cart = JSON.parse(localStorage.getItem('cart')) || [];

            let cartList = document.getElementById('cart-list');
            let totalPriceElement = document.getElementById('total-price');
            let totalPrice10 = document.getElementById('total-price10')
            let totalPriceAV = document.getElementById('total-priceAV')
            let totalPrice = 0;

            // Limpar lista do carrinho
            cartList.innerHTML = "";

            // Iterar sobre os produtos no carrinho
            cart.forEach(function (product, index) {
                // Criar um elemento <li> para cada produto
                let listItem = document.createElement('li');
                // listItem.textContent = `${product.name} - R$${product.price}`;
                listItem.classList.add('cart-item'); // Adiciona a classe

                // Criar a tag de imagem e definir o atributo src para a imagem do produto
                let imageElement = document.createElement('img');
                imageElement.src = product.image;
                imageElement.alt = product.name;
                imageElement.classList.add('product-image'); // Adicionar classe para estilização

                let paragraphElement = document.createElement('p')
                paragraphElement.textContent = `${product.name} - R$${product.price}`;

                let quantidadeteste = document.createElement('h1')
                quantidadeteste.textContent = `${product.quantity} - R$${product.quantity * product.price}`;
                
                // Adicionar a tag de imagem ao item do carrinho
                listItem.appendChild(imageElement);
                listItem.appendChild(paragraphElement);
                listItem.appendChild(quantidadeteste);

                // Adicionar botão de deletar
                let deleteButton = document.createElement('button');

                var spanTx = document.createElement('span')
                spanTx.append("Delete")
                spanTx.classList.add("text")

                var spanSvg = document.createElement('span')
                spanSvg.classList.add("icon")
                spanSvg.append("X")
                // var svgTag = document.createElement('svg')
                // svgTag.setAttribute("xmlns", "http://www.w3.org/2000/svg")
                // svgTag.setAttribute("width", "24")
                // svgTag.setAttribute("height", "24")
                // svgTag.setAttribute("viewBox", "0 0 24 24")
                // var pathTag = document.createElement('path')
                // pathTag.setAttribute("d", "M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z")

                // svgTag.appendChild(pathTag)
                // spanSvg.appendChild(svgTag)
                
                // deleteButton.textContent = 'REMOVER';
                deleteButton.classList.add('delete-button');
                deleteButton.appendChild(spanTx)
                deleteButton.appendChild(spanSvg)
                deleteButton.addEventListener('click', function () {
                    removeFromCart(index);
                });

                // Adicionar o botão de deletar ao item do carrinho
                listItem.appendChild(deleteButton);

                // Adicionar o item à lista do carrinho
                cartList.appendChild(listItem);

                // Calcular o preço total
                totalPrice += parseFloat(product.price);
            });

            // Exibir o preço total
            totalPriceElement.textContent = `R$ ${totalPrice.toFixed(2)}`;
            valor10 = ` R$ ${(totalPrice/10).toFixed(2)} `
            totalPrice10.textContent = valor10
            totalPriceAV.textContent = `R$ ${(totalPrice*0.9).toFixed(2)}`
        }

        function removeFromCart(index) {
            // Obter carrinho do localStorage
            let cart = JSON.parse(localStorage.getItem('cart')) || [];

            // Remover o produto do carrinho com base no índice
            cart.splice(index, 1);

            // Atualizar o carrinho no localStorage
            localStorage.setItem('cart', JSON.stringify(cart));

            // Atualizar a exibição do carrinho
            displayCart();
        }
    </script>
</body>
{% endblock %}