{% extends 'layout.html' %}
{% block content %}
<body style="height: 100vh;">
    <div class="radial" style="height: 100vh;">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        {% include 'navbar2.html' %}
        <section class="form">
            <form action="/form" method="POST" class="formC box">

                <div class="text-form animarDown">
                    <h1>Junte-se a nós!</h1>
                    <p>Cadastre-se agora e faça parte da experiência GBXP.</p>
                </div>
                <div class="input-group animarUp">
                    <label for="nome">Nome</label>
                    <input required type="text" class="input-form" id="nome_completo" name="nome" maxlength="45" minlength="2" placeholder="Nome" tabindex="1" autofocus autocomplete="off">
                </div>
                <div class="input-group animarUp2">
                    <label for="email">Email</label>
                    <input required type="email" class="input-form" id="input-form" name="email" maxlength="100" placeholder="Email" tabindex="2" autocomplete="off">
                </div>
                <div class="input-group animarUp3">
                    <label class="tel" for="tel">Telefone</label>
                    <input required type="tel" class="input-form tel" id="input-form tel" name="telefone" maxlength="45" placeholder="Telefone" tabindex="3" autocomplete="off">
                </div>
                <div class="div-btn-submit animarUp">
                    <button class="btn-submit btn-star" type="submit" tabindex="4">
                        <strong>ENVIAR</strong>
                        <div id="container-stars">
                            <div id="stars"></div>
                            <div id="stars2"></div>
                            <div id="stars3"></div>
                            <div id="starsBtn"></div>
                        </div>
                    </button>
                </div>
                <h1>{{ msg }}</h1>
            </form>
        </section>
    </div>
</body>
{% endblock %}