{% extends'layout.html' %}
{% block content %}

<body id="body">
    <main class="home-stars">
        <div class="animate__animated animate__fadeIn animate__delay-1_3s animate__faster">
            <div id="stars"></div>
            <div id="stars2"></div>
            <div id="stars3"></div>
            <div class="radial">
                {% include 'navbar.html' %}
                <section id="sec-index">    
                    <section class="sec-inicio" id="inicio">
                        <div class="div-inicio" id="div-inicio">
                            <h1 class="tx-titulo animate__animated animate__fadeInDown animate__delay-1_5s">GAME BARRETOS EXPERIENCE</h1>
                            <div class="btns-inicio">
                                <a href="/"><button class="btn-saiba animate__animated animate__fadeInUp animate__delay-1_5s">Saiba mais</button></a>
                                <a href="/"><button class="btn-cadastro2 animate__animated animate__fadeInUp animate__delay-1_5s">Quero participar</button></a>
                            </div>
                        </div>
                    </section>
                    <section class="imgs animate__animated animate__fadeIn animate__delay-1_5s">
                        <div class="slide1">
                            <div class="logo-slide1">
                                <div class="card" id="img-1">
                                    <div class="img-slide"><img class="imgs-img" src="static/img/sw/1.jpg"></div>
                                    <div class="card__content" id="cc1">
                                      <p class="card__title">Card Title</p>
                                      <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>
                                </div>
                                <div class="card" id="img-2">
                                    <div class="img-slide"><img class="imgs-img" src="static/img/sw/2.jpg"></div>
                                    <div class="card__content" id="cc2">
                                      <p class="card__title">Card Title</p>
                                      <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>
                                </div>
                                <div class="card" id="img-3">
                                    <div class="img-slide"><img class="imgs-img" src="static/img/sw/3.jpg"></div>
                                    <div class="card__content">
                                      <p class="card__title">Card Title</p>
                                      <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>
                                </div>   
                                <div class="card" id="img-4">
                                    <div class="img-slide"><img class="imgs-img" src="static/img/sw/4.jpg"></div>
                                    <div class="card__content">
                                      <p class="card__title">Card Title</p>
                                      <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>
                                </div>   
                                <div class="card" id="img-5">
                                    <div class="img-slide"><img class="imgs-img" src="static/img/sw/5.jpg"></div>
                                    <div class="card__content">
                                      <p class="card__title">Card Title</p>
                                      <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>
                                </div>   
                                <div class="card" id="img-6">
                                    <div class="img-slide"><img class="imgs-img" src="static/img/sw/6.jpg"></div>
                                    <div class="card__content">
                                      <p class="card__title">Card Title</p>
                                      <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>
                                </div>   
                                <div class="card" id="img-7">
                                    <div class="img-slide"><img class="imgs-img" src="static/img/sw/7.jpg"></div>
                                    <div class="card__content">
                                      <p class="card__title">Card Title</p>
                                      <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>
                                </div>                        
                            </div>
                            <div class="logo-slide1">
                                <div class="img-slide" id="img-1"><img class="imgs-img" src="static/img/sw/1.jpg"></div>
                                <div class="img-slide" id="img-2"><img class="imgs-img" src="static/img/sw/2.jpg"></div>
                                <div class="img-slide" id="img-3"><img class="imgs-img" src="static/img/sw/3.jpg"></div>
                                <div class="img-slide" id="img-4"><img class="imgs-img" src="static/img/sw/4.jpg"></div>
                                <div class="img-slide" id="img-5"><img class="imgs-img" src="static/img/sw/5.jpg"></div>
                                <div class="img-slide" id="img-6"><img class="imgs-img" src="static/img/sw/6.jpg"></div>
                                <div class="img-slide" id="img-7"><img class="imgs-img" src="static/img/sw/7.jpg"></div>
                            </div>
                        </div>
                        <div class="slide2 marginb">
                            <div class="logo-slide2">
                                <div class="img-slide" id="img-8"><img class="imgs-img" src="static/img/sw/8.jpg"></div>
                                <div class="img-slide" id="img-9"><img class="imgs-img" src="static/img/sw/9.jpg"></div>
                                <div class="img-slide" id="img-10"><img class="imgs-img" src="static/img/sw/10.jpg"></div>
                                <div class="img-slide" id="img-11"><img class="imgs-img" src="static/img/sw/11.jpg"></div>
                                <div class="img-slide" id="img-12"><img class="imgs-img" src="static/img/sw/12.jpg"></div>
                                <div class="img-slide" id="img-13"><img class="imgs-img" src="static/img/sw/13.jpg"></div>
                                <div class="img-slide" id="img-14"><img class="imgs-img" src="static/img/sw/14.jpg"></div>
                            </div>
                            <div class="logo-slide2">
                                <div class="img-slide" id="img-8"><img class="imgs-img" src="static/img/sw/8.jpg"></div>
                                <div class="img-slide" id="img-9"><img class="imgs-img" src="static/img/sw/9.jpg"></div>
                                <div class="img-slide" id="img-10"><img class="imgs-img" src="static/img/sw/10.jpg"></div>
                                <div class="img-slide" id="img-11"><img class="imgs-img" src="static/img/sw/11.jpg"></div>
                                <div class="img-slide" id="img-12"><img class="imgs-img" src="static/img/sw/12.jpg"></div>
                                <div class="img-slide" id="img-13"><img class="imgs-img" src="static/img/sw/13.jpg"></div>
                                <div class="img-slide" id="img-14"><img class="imgs-img" src="static/img/sw/14.jpg"></div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
            
            <section class="sec-sobre" id="sec-sobre">
                <div class="sobre-content">
                    <div class="tx-sobre anim animate__animated">
                        <h1>Sobre o evento</h1>
                        <p>
                            A GBXP é um dos maiores e mais influentes eventos de jogos eletrônicos do mundo. Realizada anualmente, a GBXP reúne desenvolvedores, jogadores e entusiastas da indústria de games para apresentar e discutir as mais recentes novidades e tendências do setor.
                        </p>
                    </div>
                    <div class="grid-sobre">
                        <div class="sec1 anim animate__animated animate__delay-03s">
                            <div class="icon-div">
                                <img class="icon-img" src="static/img/logoB.png" style="height: 50px;">
                            </div>
                            <h2 class="sec-titulo">Exemplo 1</h2>
                            <p class="sec-tx">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque aliquid fugit at architecto distinctio placeat eligendi ipsa quasi magnam minus tempora necessitatibus ipsum quia, omnis, ducimus, eum a nihil qui?</p>
                        </div>
                        <div class="sec2 anim animate__animated">
                            <div class="icon-div">
                                <img class="icon-img" src="static/img/logoB.png" style="height: 50px;">
                            </div>
                            <h2 class="sec-titulo">Exemplo 2</h2>
                            <p class="sec-tx">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque aliquid fugit at architecto distinctio placeat eligendi ipsa quasi magnam minus tempora necessitatibus ipsum quia, omnis, ducimus, eum a nihil qui?</p>
                        </div>
                        <div class="sec3 anim animate__animated animate__delay-03s">
                            <div class="icon-div">
                                <img class="icon-img" src="static/img/logoB.png" style="height: 50px;">
                            </div>
                            <h2 class="sec-titulo">Exemplo 3</h2>
                            <p class="sec-tx">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque aliquid fugit at architecto distinctio placeat eligendi ipsa quasi magnam minus tempora necessitatibus ipsum quia, omnis, ducimus, eum a nihil qui?</p>
                        </div>
                    </div>
                </div>
            </section>
            <img src="/static/img/back1.png" class="banner2">
        </div>
    </main>
    <!-- ATRASO DE LOADER -->
    <iframe style="display: none;" width="560" height="315" src="https://www.youtube.com/embed/U5iUc8U3coI?si=D3Obg9jxU9_tlKFZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <!---------------------->
    <!-- TERMOS DE USO -->
    <div class="msg-termos" id="msg-termos" style="display: none;">
        <div class="div-termos">
            <h1>Termos de Política e termos de uso </h1>
            <p>Antes de continuar, pedimos que você leia e aceite nossos Termos de Uso e Política de Privacidade. Esses documentos são importantes para garantir que você compreenda nossas diretrizes e práticas em relação ao uso deste site.</p>
        </div>
        <button class="btn-termos">Aceitar todos os termos</button>
    </div>
</body>
{% endblock %}