{% extends'layout.html' %}
{% block content %}

<body id="body">
    <main class="home-stars">
        <div class="radial">
            <div id="stars"></div>
            <div id="stars2"></div>
            <div id="stars3"></div>
            {% include 'navbar.html' %}
            <section id="sec-index">
                <section class="sec-inicio" id="inicio">
                    <div class="div-inicio" id="div-inicio">
                        <h1 class="tx-titulo animate__animated animate__fadeInDown animate__delay-1_3s">GAME BARRETOS EXPERIENCE</h1>
                        <div class="btns-inicio">
                            <a href="/"><button class="btn-saiba animate__animated animate__fadeInUp animate__delay-1_3s">Saiba mais</button></a>
                            <a href="/"><button class="btn-cadastro2 animate__animated animate__fadeInUp animate__delay-1_3s">Quero participar</button></a>
                        </div>
                    </div>
                </section>
                <section class="imgs animate__animated animate__fadeIn animate__delay-1_3s">
                    <div class="slide1">
                        <div class="logo-slide1">
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                        </div>
                        <div class="logo-slide1">
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                        </div>
                    </div>
                    <div class="slide2 marginb">
                        <div class="logo-slide2">
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                        </div>
                        <div class="logo-slide2">
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                            <div class="img-slide"><img class="imgs-img" src="static/img/imagemTeste.svg"></div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <section id="sec-inscrever">
            <div>
                <div class="tx-sobre">
                    <h1>Sobre o evento</h1>
                    <p>
                        A GBXP é um dos maiores e mais influentes eventos de jogos eletrônicos do mundo. 
                        Realizada anualmente, a GBXP reúne desenvolvedores, jogadores e entusiastas da indústria de games para apresentar e discutir as mais recentes novidades e tendências do setor.
                    </p>
                </div>
                <div class="grid-sobre">
                    <div class="sec1">
                        <div class="icon-div">
                            <img class="icon-img" src="">
                        </div>
                        <h2 class="sec-titulo"></h2>
                        <p class="sec-tx"></p>
                    </div>
                    <div class="sec2">
                        <div class="icon-div">
                            <img class="icon-img" src="">
                        </div>
                        <h2 class="sec-titulo"></h2>
                        <p class="sec-tx"></p>
                    </div>
                    <div class="sec3">
                        <div class="icon-div">
                            <img class="icon-img" src="">
                        </div>
                        <h2 class="sec-titulo"></h2>
                        <p class="sec-tx"></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- ATRASO DE LOADER -->
    <iframe style="display: none;" width="560" height="315" src="https://www.youtube.com/embed/U5iUc8U3coI?si=D3Obg9jxU9_tlKFZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <!---------------------->
    <!-- TERMOS DE USO -->
    <div class="msg-termos" id="msg-termos" style="display: none;">
        <div class="div-termos">
            <h1>Termos de Política e termos de uso </h1>
            <p>Antes de continuar, pedimos que você leia e aceite nossos Termos de Uso e Política de Privacidade. Esses documentos são importantes para garantir que você compreenda nossas diretrizes e práticas em relação ao uso deste site.</p>
        </div>
        <button class="btn-termos">Aceitar todos os termos</button>
    </div>
    <section>
        <div>
            <h1>Atividades:</h1>
            <h5>A GBXP esse ano contará com diversas atividades para todo os tipos de públicos e contará com a presença ilustre de diversas franquias de jogos e muito mais.</h5>
        </div>
        <div>
            <div>
                <img src="" alt="">
                <h2></h2>
                <p></p>
            </div>
            <div>
                <img src="" alt="">
                <h2></h2>
                <p></p>
            </div>
            <div>
                <img src="" alt="">
                <h2></h2>
                <p></p>
            </div>
        </div>
    </section>
</body>
{% endblock %}