{% extends'layout.html' %}
{% block content %}

<body id="body">
    <main class="home-stars">
        <div class="animate__animated animate__fadeIn animate__delay-1_3s animate__faster">
            <div id="stars"></div>
            <div id="stars2"></div>
            <div id="stars3"></div>
            <div class="radial">
                {% include 'navbar.html' %}
                <h1>Produtos</h1>
                <ul>
                    {% for item_id, produto in produtos.items() %}
                    <style>img{max-height: 300px};</style>
                        <li>
                            <img src="{{ produto['image_url'] }}" alt="{{ produto['name'] }}">
                            <h2>{{ produto['name'] }}</h2>
                            <p>{{ produto['description'] }}</p>
                            <p>Preço: R$ {{ produto['price'] }}</p>
                            <form method="GET" action="/add_to_cart/{{ item_id }}">
                                <input type="submit" value="Adicionar ao Carrinho">
                            </form>
                        </li>
                    {% endfor %}
                </ul>

                <h1>Carrinho de Compras</h1>
                <ul>
                    {% for item_id in cart %}
                        <li>Item {{ item_id }}</li>
                    {% endfor %}
                </ul>

                <a href="/view_cart">Ver Carrinho de Compras</a>

    </div>
</body>
{% endblock %}