<header class="header-index">
<section class="sec-navbar" id="nav">
    <div class="animate__animated animate__fadeInLeft animate__delay-1_5s">
        <a href="/"><img src="static/img/logoB.png" style="height: 66px;"></a>
    </div>
    <nav>
        <ul class="nav-list" id="nav-list">
            <li class="li-nav animate__animated animate__fadeInDown animate__delay-1_9s" id="nav-item1"><a href="#">Início</a></li>
            <li class="li-nav animate__animated animate__fadeInDown animate__delay-1_7s" id="nav-item2"><a href="#sec-sobre">Sobre</a></li>
            <li class="li-nav animate__animated animate__fadeInDown animate__delay-1_5s" id="nav-item3"><a href="/">Jogos</a></li>
            <li class="li-nav animate__animated animate__fadeInDown animate__delay-1_7s" id="nav-item4"><a href="/loja">Loja</a></li>
            <li class="li-nav animate__animated animate__fadeInDown animate__delay-1_9s" id="nav-item5"><a href="/">Convite</a></li>
        </ul>
        <div class="menu" id="menu">
            <label class="hamburger" id="hamburguer">
                <input type="checkbox" id="check">
                <svg viewBox="0 0 32 32">
                    <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                    <path class="line" d="M7 16 27 16"></path>
                </svg>
            </label>
        </div>
    </nav>
    <div class="div-cadastro animate__animated animate__fadeInRight animate__delay-1_5s" id="div-cadastro">
        <a href="{{ url_for('form') }}"><button class="btn-cadastro">Inscrever-se</button></a>
    </div>
</section>
</header>