<header class="header-index">
<section class="sec-navbar" id="nav">
    <div class="animarDown">
        <a href="/"><img src="static/img/logoB.png" style="height: 66px;"></a>
    </div>
    <nav>
        <ul class="nav-list" id="nav-list">
            <li class="li-nav animarDown3" id="nav-item1"><a href="/#">Início</a></li>
            <li class="li-nav animarDown2" id="nav-item2"><a href="/#sec-sobre">Sobre</a></li>
            <li class="li-nav animarDown" id="nav-item3"><a href="/#sec-contato">Contato</a></li>
            <li class="li-nav animarDown2" id="nav-item4"><a href="/loja">Loja</a></li>
            <li class="li-nav animarDown3" id="nav-item5"><a href="/">Convite</a></li>
        </ul>
        <div class="menu" id="menu">
            <label class="hamburger" id="hamburguer">
                <input type="checkbox">
                <svg viewBox="0 0 32 32">
                    <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                    <path class="line" d="M7 16 27 16"></path>
                </svg>
            </label>
        </div>
    </nav>
    <div class="div-cadastro animarDown" id="div-cadastro">
        <a href="{{ url_for('index') }}">
            <button class="btn-cadastro">
                <div class="div-voltar">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 40" class="svgV">
                        <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
                    </svg>
                    Voltar
                </div>
            </button>
        </a>
    </div>
</section>
</header>