<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="teste.css">
    <title>teste</title>
</head>
<body>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="/static/img/sw/1.jpg" class="img-card-flip">
            </div>
            <div class="flip-card-back">
                <div class="back-text">
                    <p class="title">Star Wars Jedi: Fallen Order</p>
                    <div class="desc-group">
                        <p class="desc-card">
                            <span>Gênero: </span>Jogo eletrônico de ação e aventura
                            <br>
                            <span>Plataformas: </span>PlayStation 5, PlayStation 4, Xbox One
                        </p>
                    </div>
                </div>
                <img src="/static/img/sw/1.jpg" class="img-card-flip backC">
            </div>
        </div>
    </div>
</body>
</html>